@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main: #ff6e01;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
  border-radius: 5rem;
}

section{
  padding: 8rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.btn{
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #ff9748;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.btn:hover::before{
  width: 100%;
}


/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--main);
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--main);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons div:hover{
  color: var(--main);
}

#menu-btn{
  display: none;
}

/* login form */

.header .login-form{
  position: absolute;
  top: 115%;
  right: -105%;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.2rem;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: .7rem;
  text-align: center;
}

.header .login-form .box{
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  margin: .7rem 0;
  color: var(--black);
  width: 100%;
  text-transform: none;
}

.header .login-form .remember{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label{
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .login-form .btn{
  width: 100%;
  text-align: center;
}

/* end */

/* home */

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(background1.png) no-repeat;
  background-size: cover;
  background-position: top;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  color: var(--white);
  font-size: 6rem;
  line-height: 1.4;
  font-weight: 400;
}




/* end */

/* about */

.about .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .deco-title{
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204,204,204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.about .box-container .image{
  flex: 1 1 31rem;
}

.about .box-container .image img{
  width: 100%;
}

.about .content{
  flex: 1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color: var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas{
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

/*end */

/* gallery */

.gallery{
  background: var(--bg);
}

.gallery .slide .image{
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.gallery .slide .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-slider .swiper-button-next, .gallery-slider .swiper-button-prev {
  color: white;
  transition: color 0.3s ease;
}

.gallery-slider .swiper-button-next:hover, .gallery-slider .swiper-button-prev:hover {
  color: orange;

}

/* end */

/* countries */

.country {
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 1fr)); /* 2 columns */
  gap: 2rem;
  background-color: #FFDCA5;
  padding: 20px;
}

/* Style for the image boxes */
.country .box-container .box {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.country .box-container .box img {
  height: auto; /* Adjust to keep aspect ratio */
  width: 100%;
  object-fit: cover;
}

/* Style for the poverty text */
.poverty-text {
  background-color: #FFDCA5;
  padding: 20px;
  grid-column: span 2; /* Span 2 columns to match the image layout */
  grid-row: 2; /* Start from the second row */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align text to the bottom */
  align-items: flex-start; /* Align text to the left */
}

.poverty-text p {
  margin-bottom: 10px;
  font-size: 1.2rem; /* Adjust font size */
  text-align: center; /* Center text horizontally */
}

.poverty-text ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.2rem; /* Adjust font size */
  text-align: center; /* Center text horizontally */
}

.poverty-text li {
  margin-bottom: 5px;
}

.country .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;
}

.country .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.country .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.country .box-container .box:hover img{
  transform: scale(1.1);
}

.country .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.country .box-container .box:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.5;
  transition: 0.5s ease;
}

.country .box-container .box .content h3{
  text-align: center;
  font-size: 3rem;
  color: var(--white);
}

.country .box-container .box .content{
  text-align: center;
  opacity: 0; 
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: opacity 0.3s ease; 
}

.country .box-container .box:hover .content{
  opacity: 1; 
}


.country {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  background-color: #FFDCA5; 
  padding: 20px; 
}

.country .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}

/* end */
